.eventsContainer {
  position: inherit;
  top: 10vw;
  display: flex;
  flex-wrap: wrap;
  gap:5vw;
  justify-content: center;
  padding: 20px;
  margin-top:-1.8vw;
  /* background-color: #181818; Dark background to match the image style */
}

.card {
  position: relative;
  bottom: -1.1vw;
  background-color: #1f1f1f; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  width: 280px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.eventImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.header h2 {
  margin: 15px 0 5px;
  font-size: 22px;
  color: #ffffff; 
}

.header p {
  margin: 5px 0;
  font-size: 14px;
  color: #b0b0b0; 
}

.dateTime {
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #00FF7F; 
}

.registerBtn {
  background-color: #00FF7F; 
  color: #000000;
  border: none;
  padding: 10px 40px;
  border-radius: 10px; 
  font-size: 16px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: glow 1.5s infinite;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #00FF7F, 0 0 10px #00FF7F, 0 0 10px #00FF7F, 0 0 10px #00FF7F;
  }
  50% {
    box-shadow: 0 0 10px #00FF7F, 0 0 10px #00FF7F, 0 0 10px #00FF7F, 0 0 15px #00FF7F;
  }
  100% {
    box-shadow: 0 0 5px #00FF7F, 0 0 10px #00FF7F, 0 0 10px #00FF7F, 0 0 10px #00FF7F;
  }
}


.registerBtn:hover {
  background-color: #00b86b; /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 255, 127, 0.5); /* Glowing effect */
}
