/* Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* margin-left: 7%; */
  padding: 0 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  border-radius: 10px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  filter: drop-shadow(0 0 10px #00ffcc);
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menuItem {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuItem:hover {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  transform: scale(1.1);
}

.icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.menuItem:hover .icon {
  transform: rotate(360deg);
}




/* Mobile Styles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 20px;
  }

  .menuItem {
    font-size: 16px;
  }
}
