/* General Container */
.container {
  min-height: 60vh;
  background-color: black;
  color: white;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vw;
  flex: 1 0 auto;
}

/* Wrapper */
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  position: absolute;
  top: -120px;
  left: 0;
  text-align: left;
}

/* .logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
} */

.title {
  font-weight: bold;
  font-size: 2rem;
}

.subtitle {
  font-size: 1rem;
}

/* Main Grid */
.mainGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 3rem;
  align-items: start; 
}

.aboutSection {
  text-align: center;
  width: 100%;
}
.sectionTitle{
  padding: 10px;
  font-size: 2.2rem;
}

.mapSectionIframe {
  display: block;
  margin: 0 auto; 
  width: 700px !important; 
  height: 300px !important;
  max-width: 100%; 
  border-radius: 15px;
  border: none;
}


.linksNav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
  
}

.linkItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.5rem;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: rgba(255, 255, 255, 0.7);
}


.contactSection {
  text-align: center;
}

.contactInfo a {
  color: white;
  text-decoration: none;
}

/* Social Links */
.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.socialLink {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.socialLink:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.socialIcon {
  width: 1.25rem;
  height: 1.25rem;
}


.footer {
  background-color: black;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }

  .socialLinks {
    justify-content: center;
    flex-wrap: wrap;
  }
  .mapSection iframe {
    height: 300px; 
  }
}
