/* Navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    z-index: 1000;
  }
  
  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .logo {
    height: 40px;
  }
  
  .menu li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .menu li:hover {
    color: #00bcd4;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .menu li {
      font-size: 18px;
      padding: 10px;
    }
  }
  